*{
    padding: 0;
    margin: 0;
}
body{
    background-image: linear-gradient(to left,rgb(195, 239, 247),rgb(232, 232, 237),rgb(195, 239, 247));
}
.row
{
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
   
}
.para
{
    font-size: 1.5rem;
    text-align: center;
    text-shadow: 4px 5px 6px black;
    box-shadow: 4px 5px 6px grey;
    padding: 10px;
    border:solid;
    border-color: aqua;
    background-color: azure;
}
.matter{
    padding-top: 10px;
    font-size: medium;
    text-shadow: none;
    text-align: justify;
    padding-bottom: 10px;
}
.box{
    text-shadow:2px 3px 3px white;
    background-color: rgb(15, 117, 135);
}
.para:hover{
    transform: scale(1.1);

}
.roww
{
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 20px;
   
}
.box1{
    padding: 30px;
    background-color: rgb(15, 117, 135);
    margin-left: 500px;
    margin-right: 500px;
    font-size: 1.5rem;
    color: azure;
    text-shadow: 2px 2px 4px black;
    margin-bottom: 20px;
    border-radius: 50%;
    text-align: center;
}
.box1:hover{
    transform: scale(1.1);
}
