body{
    background-image:url("../assets/nightsky.jpg");
    background-repeat: no-repeat;
    background-size: 1300px;
   background-attachment: fixed;
   background-color: aquamarine;
}
*{
    margin: 0;
    padding: 0;
}
h1{
    font-size: 5rem;
    margin-left: 550px;
    color: rgb(245, 245, 246);
    margin-top: 200px;
    font-family: "Playfair Display", serif;
    text-shadow: 5px 10px 18px white;
}
.style{
    color: rgb(247, 253, 253);
    margin-left: 490px;
    font-size: 1.5rem;
    
}
h2{
    float:left;
    border: 5px solid rgb(245, 244, 244);
    padding:10px;
    border-radius: 10%;
    margin-right:80px ;
}
.ss{
    padding-left: 40px;
    padding-right: 30px;
    color: azure;
}
h2:hover{
    transform:scale(1.1);
}
/* this is done */